streamlit

pymupdf
pytesseract
Pillow

sentence-transformers
numpy
scikit-learn
scipy
dotenv

unstructured
unstructured-inference
unstructured-client
unstructured[pdf]
pandas
openpyxl

openai>=1.40.0